<section id="projects">
    <h2>Projects</h2>
    <ul>
      <li>
        <h3>Predictive Analytics for Soccer Matches</h3>
        <p>Developed a predictive analytics model to forecast the outcomes of soccer matches based on historical data, team performance metrics, and external factors. The model leverages machine learning algorithms to provide insights into match results and potential trends.</p>
        <p>Technologies Used: Python, Scikit-Learn, Pandas, NumPy</p>
        <p>Repository: <a href="https://github.com/carloscorona/soccer-matches-prediction">Soccer Matches Prediction</a></p>
      </li>
      <li>
        <h3>German Traffic Sign Benchmark</h3>
        <p>Built a deep learning model using convolutional neural networks (CNN) to classify traffic signs from the German Traffic Sign Recognition Benchmark dataset. The model was trained on a large collection of labeled images and achieved high accuracy in classifying various traffic signs.</p>
        <p>Technologies Used: Python, PyTorch</p>
        <p>Repository: <a href="https://github.com/carloscorona/german-traffic-sign-benchmark">German Traffic Sign Benchmark</a></p>
      </li>
    </ul>
  </section>
